/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }

body
{
    background: #00579c url("../img/background-interlaced.png");
    color: #333333;
    font: 14px 'Ubuntu Mono',Arial,Helvetica,sans-serif;
}
.main
{
    margin: 0 auto;
    min-width: 948px;
    width: 948px;
    padding: 20px 0;
}
.body_top
{
    display: block;
    width: 948px;
    height: 83px;
    background-image: url("../img/body_top.png");
}
.body_middle
{
    display: block;
    width: 948px;
    min-height: 672px;
    background-image: url("../img/body_middle.png");
}
.body_neko
{
    display: block;
    width: 948px;
    height: 108px;
    background-image: url("../img/body_middle.png");
}
.body_bottom
{
    display: block;
    width: 948px;
    height: 83px;
    background-image: url("../img/body_bottom.png");
}
#content h1
{
    font-family: 'Ubuntu Mono', serif;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
}
#title
{
    width: 188px;
    height: 41px;
    background-image: url("../img/kanekt.png");
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0 380px;
    line-height: 42px;
}
#neko
{
    width: 108px;
    height: 107px;
    background-image: url("../img/neko.png");
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0 420px;
    line-height: 110px;
}
#description
{
    font-family: 'Ubuntu Mono', serif;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover, a:focus {
    color: #005580;
    text-decoration: underline;
}
ul > li {
    display: inline;
}
#contacts
{
    padding: 0 90px;
    text-align: center;
}
#content
{
    padding: 0 90px;
}
hr {
    border: none;
    background-image: url("../img/line.png");
    height: 1px;
    margin: 15px 0;
}

[class^="icon-"], [class*=" icon-"] {
    background: url("../img/icons-sprite.png") no-repeat 0px 0px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: text-bottom;
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}
#icons
{
    margin-top: 15px;
}
.icon-gmail {
    background-position: -12px -13px;
}
.icon-gmail:hover {
    background-position: -12px -43px;
}

.icon-jabber {
    background-position: -63px -13px;
}
.icon-jabber:hover {
    background-position: -63px -43px;
}

.icon-phone {
    background-position: -113px -13px;
}
.icon-phone:hover {
    background-position: -113px -43px;
}

.icon-vk {
    background-position: -161px -13px;
}
.icon-vk:hover {
    background-position: -161px -43px;
}

.icon-development {
    background-position: -211px -13px;
}
.icon-development:hover {
    background-position: -211px -43px;
}

.icon-github {
    background-position: -211px -13px;
}
.icon-github:hover {
    background-position: -211px -43px;
}

.icon-punbb {
    background-position: -258px -13px;
}
.icon-punbb:hover {
    background-position: -258px -43px;
}

.icon-portfolio {
    background-position: -308px -13px;
}
.icon-portfolio:hover {
    background-position: -308px -43px;
}

.icon-about {
    background-position: -355px -13px;
}
.icon-about:hover {
    background-position: -355px -43px;
}

.icon-monstra {
    background-position: -401px -13px;
}
.icon-monstra:hover {
    background-position: -401px -43px;
}

.icon-about {
    background-position: -355px -13px;
}
.icon-about:hover {
    background-position: -355px -43px;
}

footer {
    clear: both;
    position: relative;
    width: 100%;
    text-align: center;
}
footer span {
    display: block;
    font-size: 0.8em;
    padding-top: 0.8em;
}

dl {
    margin-bottom: 20px;
}
dt, dd {
    line-height: 20px;
}
dt {
    font-weight: bold;
}
dd {
    margin: 2px 10px;
}

dl:before, .dl:after {
    content: "";
    display: table;
    line-height: 0;
}
dl:after {
    clear: both;
}
dl dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20px;
}
dl dd {
    margin-left: 40px;
}

#about dt {
   margin: 7px 0 0;
}

#about .cLeft h1
{
    text-align: left;
}
#about .cRight h1
{
    text-align: left;
}

#about {
    width: 100%;
}
#about .cLeft {
    display: block;
    float: left;
    padding: 15px 0;
    width: 28.7179%;
}
#about .cRight {
    display: block;
    float: left;
    margin-left: 2.5641%;
    padding: 15px 0;
    width: 68.7179%;
}

FORM .field {
    padding: 0 0 15px;
    width: 100%;
}
FORM LABEL {
    display: block;
    padding: 0 0 2px 2px;
}
FORM .textbox, FORM .textarea, FORM .button {
    border: 1px solid #CCCCCC;
    padding: 7px;
}

FORM .button {
    color: #0088CC;
    cursor: pointer;
}
FORM .button:hover {
    color: #005580;
}
FORM input, FORM textarea
{
    width: 96.5641%;
}
FORM textarea
{
    height: 135px;
}
.hidden
{
    display: none;
}
.error, .field i
{
    color: #B94A48;
}

.email-send
{
    text-align: center;
    display: block;
    font-size: 16px;
    color: #3a87ad;
    font-weight: bold;
}

.bLeft {
    display: block;
    float: left;
    width: 50%;
}
.bRight {
    display: block;
    float: left;
    width: 50%;
}

#development div
{
    line-height: 20px;
    padding: 5px 0 0 5px;
}
#development .work
{
    padding-left: 25px;
}

.btn {
    border: 1px solid rgb(153, 153, 153);
    border-radius: 6px;
    background-image: -moz-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(245,245,245) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(245,245,245) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(245,245,245) 100%);
    min-width: 118px;
    height: 32px;
    z-index: 17;
}

.btn:hover, .btn.active {
    border: 1px solid rgb(153, 153, 153);
    border-radius: 6px;
    background-image: -moz-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    min-width: 118px;
    height: 32px;
    z-index: 16;
    color: rgb(235,235,235);
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-group > .btn {
    border-radius: 0 0 0 0;
    position: relative;
}
.btn-group > .btn + .btn {
    margin-left: -1px;
}

.btn-group > .btn:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 0;
}
.btn-group > .btn:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .btn-group > .btn + .btn {
        margin-left: -3px;
    }
}

.portfolio
{
    display: block;
    height: 565px;
    width: 100%;
    overflow: hidden;
}
.portfolio-item {
    color: #333333;
    cursor: default;
    display: block;
    height: 227px;
    position: relative;
    text-decoration: none;
    width: 227px;
    word-wrap: break-word;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 6px;
    background-color: #FFFFFF;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    display: none;
}
.portfolio-item p {
    font-size: 12px;
    text-align: justify;
}
.portfolio-item .desc
{
    overflow-wrap: normal;  /* не поддерживает IE, Firefox; является копией word-wrap */
    word-wrap: normal;
    word-break: break-all;  /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
    line-break: auto;  /* нет поддержки для русского языка */
    -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;  /* не поддерживает IE, Opera12.14, значение auto не поддерживается Chrome */

    padding: 5px;
    height: 195px;
}
.portfolio-item .download
{
    border: 1px rgb(153, 153, 153);
    border-top-style: solid;
    height: 21px;
    line-height: 20px;
}
.portfolio-item .download p {
    text-align: center;
    font-size: 14px;
}
.portfolio-item .download:hover {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: -moz-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    z-index: 16;
    color: rgb(235,235,235);
}
.portfolio-item .download:hover a {
    color: rgb(235,235,235);
    font-weight: bold;
    text-decoration: none;
}

.portfolio-item .item-h1
{
    left: 35px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 162px;
}

.pagination {
    text-align: center;
    height: 50px;
}
.pagination ul {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.pagination ul > li {
    display: inline;
}
.pagination ul > li > span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-image: none;
    border: 1px solid #DDDDDD;
    border-left-width: 0;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
    background-image: -moz-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(245,245,245) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(245,245,245) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(235,235,235) 0%, rgb(245,245,245) 100%);
}
.pagination ul > .active > span, .pagination ul > li > span:hover {
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(136,136,136) 0%, rgb(139,139,139) 15%, rgb(142,142,142) 24%, rgb(123,123,123) 72%, rgb(104,104,104) 100%);
    border-color: rgb(142,142,142);
    color: rgb(235,235,235);
    font-weight: bold;
}
.pagination ul > li > span:hover {
    cursor: pointer;
}
.pagination ul > .disabled > span {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.pagination ul > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
.pagination ul > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
